html body {
  margin: 0;
  font-size: 14px;
  min-height: 100vh;
}

body {
  background-image: url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#sidenav {
  width: 200px;
  background-color: #2e2e2e;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  overflow: hidden;
  transition: width 0.3s;
}

.sidenav-item {
  border-top: 1px solid #bbb;
}

.sidenav-item:nth-last-child(2) {
  border-bottom: 1px solid #bbb;
}

#sidenav.collapsed {
  width: 0px;
}

#sidenav a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  color: #bbb;
}

#sidenav a:hover {
  color: #fff;
}

#sidenav .collapse {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.expand {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.expand a {
  font-size: 20px;
}

header {
  height: 50px;
  padding: 20px;
  text-align: right;
}

#main {
  min-height: 100vh;
  width: calc(100% - 200px);
  position: absolute;
  right: 0;
  transition: width 0.3s;
}

#main.collapsed {
  width: 100%;
}

.control-button {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.has-text-centered {
  text-align: center;
}

.has-text-right {
  text-align: right;
}
