

.levels {
  padding: 10% 0px;
}

.levels a {
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}

/* .levels img {
  width: 18%;
} */

/* .level {
  text-align: center;
} */

img{
  width: 78%;
}
