#main{
  margin-top: 13%;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}
.button {
  margin: 2px;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  padding: 5px 12px;
  cursor: pointer;
  text-decoration: none;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 20px;
}
#studyTitle{
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 30px;
  float: left;
  position: absolute;
  padding-bottom: 0px;
  bottom: 15px;
}
#character{
  font-size: 60px;
}

#studyField
{
  z-index:-1;
  font-size: 40px;
  position: relative;
  top: 12px;
  right: 38%;
}
#transField
{
  font-size: 30px;
}
#character-target-div
{
  position: relative;
  bottom: 100px;
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}
#pButton
{
  position: absolute;
  right: 0px;
  top: 30%;
}
#nButton
{
  position: absolute;
  right: 0px;
  top: 35%;
}
#soundButton
{
  position: relative;
  right: 34%;
}
#replayButton
{
  position: relative;
  right: 3%;
}
