#main{
  margin-top: 15%;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;

  /* text-align: left; */
}
.button {
  margin: 2px;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  padding: 5px 12px;
  cursor: pointer;
  text-decoration: none;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 20px;
}
h1{
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 30px;
  float: left;
  position: absolute;
  bottom: -5px;
}

#character{
  font-size: 60px;
}

#studyField
{
  font-size: 40px;
  float: left;
  margin-left: 100px;
}
#transField
{
  font-size: 30px;
}
#character-target-div
{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
#pButton
{
  float: right;
}
#nButton
{
  float: right;
}
#soundButton
{

}
